@tailwind base;
@tailwind components;
@tailwind utilities;

/* global.css */
@font-face {
  font-family: "ABCDiatype";
  src: url("/fonts/ABCDiatype-Thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "ABCDiatype";
  src: url("/fonts/ABCDiatype-ThinItalic.otf") format("opentype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "ABCDiatype";
  src: url("/fonts/ABCDiatype-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "ABCDiatype";
  src: url("/fonts/ABCDiatype-LightItalic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "ABCDiatype";
  src: url("/fonts/ABCDiatype-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "ABCDiatype";
  src: url("/fonts/ABCDiatype-RegularItalic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "ABCDiatype";
  src: url("/fonts/ABCDiatype-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "ABCDiatype";
  src: url("/fonts/ABCDiatype-MediumItalic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "ABCDiatype";
  src: url("/fonts/ABCDiatype-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "ABCDiatype";
  src: url("/fonts/ABCDiatype-BoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}

.hero-parliament {
  position: absolute;
  inset: 0;
  margin: auto;
  background-image: url("solana/solana_hungary/parliament.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center 120px; /* Adjust the vertical position */
  opacity: 50%;
  height: 90lvh;
  width: 90%;
  z-index: 0;
}
section *{
  z-index: 10;
}
*, html{
  scroll-behavior: smooth !important;
}